<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" name = "Test Execution" parallel="methods">
    <listeners>
        <listener class-name="functional.custom.DataProviderTransformer"/>
    </listeners>
    <test name="TestClass1">
        <groups>
            <run>
<!--                <include name="search"/>-->
                <include name="feeling luck"/>
<!--                <include name="about"/>-->
            </run>
        </groups>
        <classes>
                  <class name="com.applicationRelatedFunctionalities.test.Google_TestClass"/>
            <!--        <class name="com.applicationRelatedFunctionalities.test.Healenium_TestCase"/>-->
<!--            <class name="com.applicationRelatedFunctionalities.test.LightHouseAudit_TestCase"/>-->
        </classes>
    </test> <!-- TestClass1 -->
</suite> <!-- Suite -->
